@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');



:root {
    font-family: 'Noto Sans TC', sans-serif, 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    
}

.signature {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.backgroundContainer {
    /* background-image: linear-gradient( #C0D6DF, #EAEAEA, #E8DAB2, #DD6E42, #4F6D7A) */
    /* background-image: linear-gradient(#4F6D7A,#DD6E42, #E8DAB2,#EAEAEA, #C0D6DF ) */
}

.jumbotron {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0rem;
    /* border-bottom: #fff;
    border-style: groove; */
    /* background-image: linear-gradient( #cdfdff, #fff) */
    background-image: linear-gradient( #C0D6DF, #EAEAEA, #E8DAB2, #DD6E42, #4F6D7A)
}



.container {
    /* text-align: left;
    display: flex;
    justify-content: left;
    align-items: left; */
    /* flex-direction: column; */
    
    
}


/* this is the H1 in the search form */
.searchTitle {
    text-decoration: underline;

}

.searchDiv {
    
}

#search-button {
    background-color: aquamarine;
    color: black;
    box-shadow: #cdfdff;
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif, 'Open Sans', sans-serif;
    margin-top: 1rem;
}

#search-button:hover{
    cursor: pointer;
    box-shadow:0 5px 10px 0 #4fe2c2;
    transition: transform 150ms;
    transform: scale(1.05);
}

#dlt-btn {
    background-color: darkred;
    color: #fff;
    box-shadow: darkviolet;
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif, 'Open Sans', sans-serif;
    

}

#dlt-btn:hover {
    cursor: pointer;
    box-shadow:0 5px 10px 0 #631515;
    transition: transform 150ms;
    transform: scale(1.05);
}

#searchBar {
    
    font-size: 25px;

}

#searchForm {

}

#search-section {
   

}

#bruh {
    /* border-radius: 2rem;
    border-color: aquamarine;
    border-style: inset */
    font-size: 1rem;
}


.div-shadow {
    color:#C0D6DF;
    background-color: #4F6D7A;
    box-shadow: 0 0 .8rem  #E8DAB2;
    margin: 2rem;

}